#dv1{
    padding: 0px 25px 0px 30px;
    background-color: blue;
}
#p1, #p2{
    margin: 100px 0px 0px 80px;
    font-family: Verdana;
    font-size: 14px;
    color: red;
    word-spacing: 2px;
}


